@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/InclusiveSans-Regular.ttf");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/InclusiveSans-Italic.ttf");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/InclusiveSans-Bold.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.beta-tag {
  border-radius: 8px;
  background: linear-gradient(135deg, #e9eef6 68%, #b1bfd7 100%);
}
